jupyter
numpy
openai
fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2
SQLAlchemy-Utils
fastapi-sso
bcrypt
python-jose[cryptography]
itsdangerous
google-auth
google-api-python-client
requests
pgvector
python-multipart
boto3
celery
redis
chardet
pdf2image
pillow
pytesseract
stripe
google-search-results
tesserocr
googlesearch-python
pytest
requests
pytest-mock